@font-face {
  font-family: 'iconfont';  /* project id 381500 */
  src: url('//at.alicdn.com/t/font_381500_83heqjp8obfq1tt9.eot');
  src: url('//at.alicdn.com/t/font_381500_83heqjp8obfq1tt9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_381500_83heqjp8obfq1tt9.woff') format('woff'),
  url('//at.alicdn.com/t/font_381500_83heqjp8obfq1tt9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_381500_83heqjp8obfq1tt9.svg#iconfont') format('svg');
}
.main {
    width: 400px;
    margin: 0 auto;
    background-color: #ccc;
    padding: 10px;
}
.iconfont1 {
    font-family: "iconfont" !important;
    font-size: 30px;
}
.iconfont2 {
    font-family: "iconfont" !important;
    font-size: 20px;
}
.header li{
    font-size: 14px;
    float: left;
    list-style: none;
    padding: 0 15px;
}
.header p {
    color: rgb(116, 116, 116);
}
.header time {
    color: rgb(148, 148, 148);
}
.header ul::after {
    content: '';
    display: block;
    clear: both;
}
.pic {
    float: right;
    width: 150px;
    border-radius: 5px;
}
.ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    overflow: hidden;
}
.footer a {
    text-decoration: none;
    padding: 0 15px;
    line-height: 2;
    color: rgb(243, 161, 148);
    border: 1px solid rgb(243, 161, 148);
}
.footer i {
    padding: 5px 15px;
}
i {
    font-style: normal;
}