/* reset */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

/* common CSS */
body {
    font-size: 16px;
}
.layout {
    width: 1200px;;
    margin: 0 auto;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.title {
    font-size: 40px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    line-height: 2;
}
.title-intro {
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    color: #777;
    line-height: 2;
    margin-bottom: 40px;
}
.icon .iconfont:hover {
    color: rgb(254, 209, 54)
}
.btn:hover {
    background-color: rgb(254, 197, 3)
}