html, body {
    height: 100%;
}
header {
    background: url(http://book.jirengu.com/jirengu-inc/jrg-tehui/homework/%E8%8B%A5%E6%84%9A/16/img/header-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    min-height: 800px;
}
header .logo a {
    float: left;
    font-size: 40px;
    color: rgb(254, 209, 54);
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    display: inline-block;
    margin-top: 40px;
}
.navbar {
    float: right;
    display: block;
    margin-top: 40px;
}
.navbar li {
    float: left;
}
.navbar a {
    color: #fff;
    font-size: 20px;
    line-height: 2;
    padding: 10px 20px;
    text-transform: uppercase;
}
.navbar a:hover {
    color: rgb(254, 209, 54);
}
.intro {
    margin-top: 200px;
    margin-bottom: 300px;
    text-align: center;
}
.welcome {
    color: #fff;
    font-size: 50px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    line-height: 2;
    margin-bottom: 30px;
}
.welcome-intro {
    color: #fff;
    font-size: 70px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    line-height: 2;
    margin-bottom: 30px;
}
.btn {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 2;
    text-transform: uppercase;
    background: rgb(254, 209, 54);
    border-radius: 5px;
    padding: 20px 40px;
    display: inline-block;
}
.section {
    text-align: center;
    padding: 100px 0;
}
.icon {
    margin: 40px 20px;
    float: left;
    width: calc(33.3% - 40px);
}
.services .icon .iconfont {
    font-size: 60px;
}
.icon-intro {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
.icon-content {
    color: #777;
}
.portfolio, .team {
    background: #f7f7f7;
}
.pic {
    margin: 20px;
    float: left;
    width: calc(33% - 40px);
    background-color: #fff;
}
.pic img {
    width: 100%;
    display: block;
}

.pic h4 {
    font-size: 18px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 20px;
}
.pic p {
    color: #777;
    font-style: italic;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 20px;
}
.pic .img {
    position: relative;
}
.pic .hovercolor {
    display: none;
    background-color: rgba(254, 209, 54, .8);
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.pic:hover .hovercolor {
    display: block;
}
.pic .hovercolor span {
    font-size: 100px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.about {
    position: relative;
}
.timeline {
    margin-bottom: 100px;
}
.timeline:last-child {
    margin-bottom: 0;
}
.timeline .timeline-pic img {
    width: 150px;
    height: 150px;
    border: 6px solid #777;
    border-radius: 50%;
}
.about .timeline:nth-child(odd) {
    padding-right: calc(50% - 76px);
}
.about .timeline:nth-child(odd) .timeline-pic {
    float: right;
}
.about .timeline:nth-child(even) {
    padding-left: calc(50% - 76px); 
}
.about .timeline:nth-child(even) .timeline-pic {
    float: left;
}
.timeline-text {
    width: 400px;
    margin: 0 50px;
}
.time-title {
    line-height: 2;
}
.timeline-detail {
    color: #777;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 10px;
}
.timeline:nth-child(odd) .timeline-text {
    text-align: right;
}
.timeline:nth-child(even) .timeline-text {
    text-align: left;
    float: right;
}
.last .timeline-pic {
    width: 150px;
    height: 150px;
    border: 6px solid #777;
    border-radius: 50%;
    background-color: rgb(254, 209, 54);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.last .timeline-pic::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
}
.last .timeline-pic p {
    vertical-align: middle;
}
.about-content {
    position: relative;
}
.about-content::before {
    content: '';
    width: 4px;
    background-color: #999;
    position: absolute;
    left: 50%;
    margin-left: -2px;
    top: 0;
    bottom: 0;
    z-index: -1;
}