html, body {
    height: 100%;
}
header {
    background: url(http://book.jirengu.com/jirengu-inc/jrg-tehui/homework/%E8%8B%A5%E6%84%9A/16/img/header-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    min-height: 800px;
}
header .logo a {
    float: left;
    font-size: 40px;
    color: rgb(254, 209, 54);
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    display: inline-block;
    margin-top: 40px;
}
.navbar {
    float: right;
    display: block;
    margin-top: 40px;
}
.navbar li {
    float: left;
}
.navbar a {
    color: #fff;
    font-size: 20px;
    line-height: 2;
    padding: 10px 20px;
    text-transform: uppercase;
}
.navbar a:hover {
    color: rgb(254, 209, 54);
}
.intro {
    margin-top: 200px;
    margin-bottom: 300px;
    text-align: center;
}
.welcome {
    color: #fff;
    font-size: 50px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    line-height: 2;
    margin-bottom: 30px;
}
.welcome-intro {
    color: #fff;
    font-size: 70px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    line-height: 2;
    margin-bottom: 30px;
}
.btn {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 2;
    text-transform: uppercase;
    background: rgb(254, 209, 54);
    border-radius: 5px;
    padding: 20px 40px;
    display: inline-block;
}
.section {
    text-align: center;
    padding: 100px 0;
}
.icon {
    margin: 40px 20px;
    float: left;
    width: calc(33.3% - 40px);
}
.services .icon .iconfont {
    font-size: 60px;
}
.icon-intro {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
.icon-content {
    color: #777;
}
.portfolio, .team {
    background: #f7f7f7;
}
.pic {
    margin: 20px;
    float: left;
    width: calc(33% - 40px);
    background-color: #fff;
}
.pic img {
    width: 100%;
}

.pic h4 {
    font-size: 18px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 20px;
}
.pic p {
    color: #777;
    font-style: italic;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 20px;
}
