.body {
    position: relative;
}
.box {
    position: relative;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    height: 500px;
    border: 2px solid #ccc;
    background-color: red;
    margin-top: 40px;
    padding-top: 40px;
}